doctype html
= Gon::Base.render_data
html
  div class="section list"
    div class="container"
      div class="row"
        div class="five columns"
          table class="u-full-width"
            thead
              tr
                th Name
                th Popularity index
            tbody
            - for item in @list
              tr
                td
                  - url = "http://www.foursquare.com/v/"+item.foursquare_id
                  a target="_blank" href = url = item.name
                td = item.popularity
        div class="seven columns"
          div class="container map-container"
            div class="map"
            p style="position:relative;text-align:center;" hint: hover over the map marks to see more information

css:
  table {
    display: block;
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
    table-layout: fixed;
    margin: 30px;
    background-color: #ffffff;
    border: 1px black;
    opacity:0.6;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }

  tr {
    color: black;
  }

  .list-container {
    padding-top: 5vh 0 0 0;
    background-color: red;
  }

  .map {
    margin: 2% 2% 2% 2%;
    height: 50vh;
    width: 70vw;
  }

  @media screen and (min-width: 1000px) {
    .map {
      margin: 15% 5% 15% 0;
      height: 70vh;
      width: 35vw;
    }
  }

  .five.columns {
    width: 100%;
    margin-left: 0px;
    text-align: center;
  }

  @media (min-width: 1000px) {
    .five.columns {
      width: 39.3%;
    }
  }

  .hover {
    background: #ddd;
  }

javascript:
  $('tr').mouseover(function(){
    $(this).addClass('hover');
  })

  $('tr').mouseout(function(){
      $(this).removeClass('hover');
   });


  var map;
  postal_code_lat = parseFloat("#{@postal_code.lat}");
  postal_code_lon = parseFloat("#{@postal_code.long}");
  markers = []
  gon.points

  // Adds a marker to the map and push to the array.
  // array = ["name", "LL.LLLL", "-lll.llll"}
  function addMarker(array) {
    var marker = new google.maps.Marker({
      position: {lat: parseFloat(array[1]),lng: parseFloat(array[2])},
      title: array[0],
      map: map
    });
    markers.push(marker);
  }

  // Sets the map on all markers in the array.
  function setMapOnAll(map) {
    for (var i = 0; i < markers.length; i++) {
      markers[i].setMap(map);
    }
  }

  function loadAllMarkers() {
    console.log("loadAllMarkers running...");
    for (var i = 0; i < gon.points.length; i++) {
      addMarker(gon.points[i]);
    }
  }

  function initMap() {
    map = new google.maps.Map(document.getElementsByClassName('map')[0], {
      center: {lat: postal_code_lat, lng: postal_code_lon},
      zoom: 15
    });

    loadAllMarkers();
    setMapOnAll(map);
  }

= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCR62jOj4Przy7B7L_k7gq4qSq7_N-mROM&callback=initMap", :async => true, :defer => 'defer'