// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  color: white;
  background-image: url('https://s3.eu-central-1.amazonaws.com/pgcosta.com/files/background3.jpg');
  background-position: center;
}

/* Overwrite the default to keep the scrollbar always visible */

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


table {
  display: block;
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
  table-layout: fixed;
  margin: 30px;
  background-color: #ffffff;
  border: 1px black;
  opacity:0.6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

tr {
  color: black;
}

.list-container {
  padding-top: 5vh 0 0 0;
  background-color: red;
}

.map {
  margin: 2% 2% 2% 2%;
  height: 50vh;
  width: 70vw;
}

@media screen and (min-width: 1000px) {
  .map {
    margin: 15% 5% 15% 0;
    height: 70vh;
    width: 35vw;
  }
}

.five.columns {
  width: 100%;
  margin-left: 0px;
  text-align: center;
}

@media (min-width: 1000px) {
  .five.columns {
    width: 39.3%;
  }
}

.hover {
  background: #ddd;
}